<app-menu></app-menu>

<div class="container">

  <header class="jumbotron hero-spacer">
    <h1>{{title}}</h1>
    <p>Votre panier s'élève à {{getTotal() | currency: 'EUR': 'symbol': '2.2-2': 'fr'}}</p>
    <p><a class="btn btn-primary btn-large" routerLink="/basket">Voir mon panier</a></p>
    <button
      class="btn btn-warning"
      (click)="facteur='price'"
    >
      Tri par prix
    </button>
    <button
    class="btn btn-warning ml-2"
    (click)="facteur='stock'"
  >
    Tri par stock
  </button>
  <button
  class="btn btn-warning ml-2"
  (click)="facteur='title'"
>
  Tri par nom
</button>
  </header>

  <hr>

  <div class="row">
    <div class="col-lg-12">
      <h2>Derniers Produits</h2>
    </div>
  </div>

  <div class="row text-center">
    <div *ngFor="let product of products | tri: facteur" class="col-3">
      <span *ngIf="isAvaible(product)">
        <app-product [data]="product" (addToBasket)="updatePrice($event)"></app-product>
      </span>
    </div>
  </div>

  <hr>

  <div class=row>
    <footer class="col-12">
      Copyright &copy; Your Website 2016
    </footer>
  </div>

</div>